[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python manage.py runserver"
makem = "python manage.py makemigrations"
# django-admin createapp <name> -> crear un proyecto django
# pipenv shell -> activate virtualenv
# python manage.py startapp <name> -> create new app

[packages]
django = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
